In [2]:
import pandas as pd

df = pd.read_csv('Copy of Facebook_Analytics - DO NOT DELETE (for interview purposes) - Facebook Profile Overview.csv')

In [ ]:
df.head()

,Date,Page followers,Total impressions,Organic impressions,Total page reactions,Total reach,% of reach from organic,% of reach from paid,Page post engagements,Total likes,New likes,Unlikes,Net likes,RowHash
0,02/03/2025,2146,16,0,0,16,NaN,0.0,0,2109,0,0,0,ef87c8184ef59de1d7c83833fd28aba94a9f26343482ec...
1,01/03/2025,2146,108,0,5,101,NaN,0.0,9,2111,1,0,1,50ae2eba54bce2196bab4d40afe6970691ba51c78c0287...
2,28/02/2025,2145,1,0,0,1,NaN,0.0,0,2110,0,0,0,671d002ee27ad653a043db917f4f26c2ef521efe507938...
3,27/02/2025,2145,9,0,0,3,NaN,0.0,0,2110,1,0,1,641223fa553c09a2f7aace7993a703ec0532368a5da577...
4,26/02/2025,2144,5,0,0,3,NaN,0.0,0,2109,0,1,-1,7460cb1200c8399b7228e0117f286f85d27d66931758f1...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     701 non-null    object
 1   Page followers           701 non-null    int64
 2   Total impressions        701 non-null    int64
 3   Organic impressions      701 non-null    int64
 4   Total page reactions     701 non-null    int64
 5   Total reach              701 non-null    int64
 6   % of reach from organic  0 non-null      float64
 7   % of reach from paid     701 non-null    float64
 8   Page post engagements    701 non-null    int64
 9   Total likes              701 non-null    int64
 10  New likes                701 non-null    int64
 11  Unlikes                  701 non-null    int64
 12  Net likes                701 non-null    int64
 13  RowHash                  700 non-null    object
dtypes: float64(2), int64(10), object(2)
memory usage: 76.8+ KB

In [5]:
df.describe()

,Page followers,Total impressions,Organic impressions,Total page reactions,Total reach,% of reach from organic,% of reach from paid,Page post engagements,Total likes,New likes,Unlikes,Net likes
count,701.000000,701.000000,701.0,701.000000,701.000000,0.0,701.000000,701.000000,701.000000,701.000000,701.000000,701.000000
mean,547.817404,3112.613409,0.0,19.400856,2797.768902,NaN,36.416862,110.843081,468.011412,2.958631,0.102710,2.855920
std,695.613978,11513.772854,0.0,90.082869,10526.179351,NaN,47.137081,453.039873,720.686189,13.191112,0.375319,13.028565
min,118.000000,0.000000,0.0,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000
25%,118.000000,0.000000,0.0,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,201.000000,30.000000,0.0,0.000000,20.000000,NaN,0.000000,1.000000,146.000000,0.000000,0.000000,0.000000
75%,809.000000,1306.000000,0.0,3.000000,1069.000000,NaN,99.080000,37.000000,756.000000,0.000000,0.000000,0.000000
max,2148.000000,129104.000000,0.0,1211.000000,123258.000000,NaN,100.000000,4757.000000,2113.000000,138.000000,4.000000,135.000000

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()/len(df) * 100

Date                         0.000000
Page followers               0.000000
Total impressions            0.000000
Organic impressions          0.000000
Total page reactions         0.000000
Total reach                  0.000000
% of reach from organic    100.000000
% of reach from paid         0.000000
Page post engagements        0.000000
Total likes                  0.000000
New likes                    0.000000
Unlikes                      0.000000
Net likes                    0.000000
RowHash                      0.142653
dtype: float64

In [8]:
# Decided to drop the row with the null value with a RowHash because it is a unique identifier and should not be null.
df = df.dropna(subset=['RowHash'])

In [9]:
# I have noticed that the column '% of reach from organic' has a lot of null values, so I will replace them with 0.
df['% of reach from organic'] = df['% of reach from organic'].fillna(0)

### Tackling any inconsistencies in the dataset.

In [10]:
df['Date'].dtypes
# The 'Date' column has been read as an object, so I will convert it to datetime format.
# The output below shows that pandas assigned the object dtype to your Date column.

dtype('O')

In [11]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Date'].dtypes
# Now the 'Date' column is in datetime format, which is more suitable for time series analysis.

dtype('<M8[ns]')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     700 non-null    datetime64[ns]
 1   Page followers           700 non-null    int64
 2   Total impressions        700 non-null    int64
 3   Organic impressions      700 non-null    int64
 4   Total page reactions     700 non-null    int64
 5   Total reach              700 non-null    int64
 6   % of reach from organic  700 non-null    float64
 7   % of reach from paid     700 non-null    float64
 8   Page post engagements    700 non-null    int64
 9   Total likes              700 non-null    int64
 10  New likes                700 non-null    int64
 11  Unlikes                  700 non-null    int64
 12  Net likes                700 non-null    int64
 13  RowHash                  700 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(10), object(1)
memory usage: 82.0+ KB

##### From the info above, you can see that I have successfully tackled the issue of any missing or inconsistent data, therefore the dataset is now clean and ready for analysis.

##### I will now save the cleaned DataFrame to a new CSV file.

In [13]:
df.to_csv('facebook_profile_overview_cleaned.csv', index=False)